[report]
exclude_lines =
  pragma: no cover
  raise NotImplementedError
  raise AssertionError
  raise ValueError

[run]
omit =
  # These files aren't really testable :(
  lib/model/model.py
  lib/model/train.py
  lib/model/placeholder.py
